/* Ion.Tabs: Bordered Skin
// css version 1.0.0
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Ion.Tabs: Skin details */

.ionTabs {
    
}
    .ionTabs__tab {
		background: none repeat scroll 0 0 #EDEDED;
		margin-right: 10px;
		min-width: 50px;
		padding: 15px 0px 13px;
		width:155px;
		text-align:center;
    }
        .ionTabs__tab:hover {
            background: #e5e5e5;
        }
        .ionTabs__tab.ionTabs__tab_state_active {
			background: none repeat scroll 0 0 #FFFFFF;			
			margin-top: 0;
			padding: 13px 0px 18px;
			width:155px;
			text-align:center;			
        }

    .ionTabs__body {
        background: #fff;
		margin-top:3px;		      
		float:left;
		width:100%;
    }

    .ionTabs__item {
        padding: 15px 20px;
		min-height:200px;
    }

    .ionTabs__preloader {
        height: 50px;
        background: url(../img/preloader-flat.gif) no-repeat 25px 50%;
    }