/* Ion.Tabs
// css version 1.0.0
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Ion.Tabs: Base */

.ionTabs {
    position: relative;
	width:100%;
	clear:both;
	display:inline-block;
}
    .ionTabs__head {
        position: relative; display: block;
        list-style-type: none;
        margin: 0; padding: 0;
        z-index: 1;
    }
    .ionTabs__head:before, .ionTabs__head:after {content: ""; display: table;}
    .ionTabs__head:after {clear: both;}
    .ionTabs__head {zoom: 1;}

        .ionTabs__tab {
            position: relative;
            display: block; float: left;
            list-style-type: none;
            background: none;
            margin: 0; padding: 0;
            cursor: pointer;
        }
			.ionTabs__tab strong {font-weight: bold;}
            .ionTabs__tab.ionTabs__tab_state_active {
                cursor: default;
            }

    .ionTabs__body {
        position: relative;
        z-index: 2;
    }

    .ionTabs__item {
        position: relative;
        display: none;
    }
        .ionTabs__item.ionTabs__item_state_active {
            display: block;
			padding:20px;

        }
		.ionTabs__item.ionTabs__item_state_active .apartman-list {
			background: url("../images/apartman-list.jpg") no-repeat top center;
			height: 375px;
			width: 100%;
		}
		
    .ionTabs__preloader {
        position: relative;
    }